@font-face {
font-family: 'bignoodleO';
src: url('../fonts/big_noodle_titling_oblique.ttf')
format('truetype');
}

@font-face {
font-family: 'bignoodle';
src: url('../fonts/big_noodle_titling.ttf')
format('truetype');
}

body{

}
 h1{
  font-family: 'bignoodle',fantasy;
 }
#fPageBanner{
  margin-top: 80px;
  width:auto;
  height: 400px;
  background-image: url("../img/soldier-76.jpg");
  background-size: cover;
  background-position: center;
}

#logoPic{
  width:9em;
  height: 9em;
}

.header-link{
  font-size: 22px;
  font-family: 'bignoodleO',fantasy;
  color: rgb(248,169,75);
}
 #header-container{
   margin-bottom: 10px;
   position:relative;
   background-color: white;
 }
  #page-header .row {
    background: white;
    border-bottom: 1px solid black;
    height: 100px;
  }
.pageContent{
  width=80%;
}
