body{

}
#fPageBanner{
  margin-top: 100px;
  width:auto;
  height: 400px;
  background-image: url("../img/banner.jpg");
}

.logoPic{
  padding-left:20px;
}

.header-link{
  font-size: 22px;
  font-family: fantasy;
  color: rgb(112, 28, 186);
}
 #header-container{
   margin-bottom: 10px;
   position:relative;
   background-color: white;
 }
  #page-header .row {
    background: white;
  }
