/* Fonts*/
@font-face {
font-family: 'bignoodleO';
src: url('../fonts/big_noodle_titling_oblique.ttf')
format('truetype');
}

@font-face {
font-family: 'bignoodle';
src: url('../fonts/big_noodle_titling.ttf')
format('truetype');
}
/* Full Site Changes*/
body{

}
 h1{
  font-family: 'bignoodle',fantasy;
 }

 /* Header */
 #logoPic{
   width:9em;
   height: 9em;
 }

 .header-link{
   font-size: 22px;
   font-family: 'bignoodleO',fantasy;
   color: rgb(248,169,75);
 }
  #header-container{
    margin-bottom: 10px;
    position:relative;
    background-color: white;
  }
   #page-header .row {
     background: white;
     border-bottom: 1px solid black;
     height: 100px;
   }

/* Front Page */

#fPageBanner{
  margin-top: 80px;
  width:auto;
  height: 400px;
  background-image: url("../img/soldier-76.jpg");
  background-size: cover;
  background-position: center;
}

.pageContent{
  width=80%;
  padding-top: 10px;
}

/* Footer */
@media screen and (min-width: 765px) {
  .footerContent{
    border-right: 1px solid white;

  }
}


.page-footer{
box-shadow: 0px 1px 1px 0px inset;
  background-color: rgb(19,19,19);
  color: white;
}

.footer-copyright{
  text-align: center;
}

/* Contact Page */
.formContent{
  padding-top: 10em;
  padding-bottom: 2em;
}
